@import '../../styles/utils/mixins';

.Container {
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;

	h1 {
		font-size: 3rem;
		margin-bottom: 2.5rem;
	}

	// items container
	& > div {
		display: flex;
		justify-content: center;

		& > * {
			margin-right: 1rem;
		}

		@include respond(tab-port) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			justify-items: center;
		}

		@include respond(phone-sm) {
			grid-template-columns: 1fr;
		}
	}
}
