.Header {
	height: 7rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2.5rem;

	// Logo container
	& > :first-child {
		height: 100%;
		width: 8rem;
		padding: 2rem;

		a {
			font-size: 2.3rem;
			text-decoration: none;
			color: unset;
		}
	}
}
