@import '../../styles/utils/utils';

.Home {
	@include fc-cen;
	padding: 2rem 6rem;
}

.ShopOverview {
	h1 {
		margin-bottom: 3rem;
	}
}

.CollectionDetails {
	display: flex;
	flex-direction: column;

	& > h1 {
		font-size: 4rem;
		margin: 0 auto 2.8rem;
		text-transform: capitalize;
	}

	& > div {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-items: center;
		grid-gap: 1.5rem;

		& > div {
			margin-bottom: 3rem;
		}
	}
}

.Login {
	width: 85rem;
	display: flex;
	justify-content: space-between;
	margin: 3rem auto;
}
