@import '../../styles/utils/_mixins.scss';

.Header {
	height: 7rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 2.5rem;

	// Logo container
	& > :first-child {
		height: 100%;
		width: 10rem;
		padding: 2rem;

		a {
			font-size: 2.3rem;
			text-decoration: none;
			color: unset;
		}
	}

	@include respond(tab-port) {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		height: 15rem;
	}
}
